.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerMain {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.418);
  height: 350px;
  width: 350px;
  margin: 20px 0px;
  padding: 5px 25px;
  border-radius: 15px;
}

.registerMain h1 {
  font-size: 3rem;
  text-align: center;
  color: hsla(239, 100%, 67%, 1);
}

.formfiled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.form input {
  border: none;
  border-radius: 8px;
  padding: 15px;
}

.form input:focus {
  outline: 2px solid rgba(69, 72, 250, 0.555);
  box-shadow: 2px 2px 2px 2px rgba(87, 90, 255, 0.363);
  border-radius: 8px;
  padding: 15px;
}

.form button {
  cursor: pointer;
  float: right;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.274);
}

.form button:hover {
  background-color: azure;
  float: right;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.589);
}

.authLink {
  float: left;
  margin-top: 50px;
  text-decoration: none;
  color: navy;
}
